@font-face {
  font-family: "legrand";
  src: url(".././fonts/Legrand.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Accordion Black";
  src: url(".././fonts/Accordion.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alice";
  src: url(".././fonts/Alice.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Archivo Black";
  src: url(".././fonts/Archivo_Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Art Nuvo";
  src: url(".././fonts/ArtNuvo.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Asap_Condensed";
  src: url(".././fonts/Asap_Condensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BANGERS";
  src: url(".././fonts/Bangers.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bellota";
  src: url(".././fonts/Bellota.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Asap";
  src: url(".././fonts/Asap.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BOBBY JONES";
  src: url(".././fonts/Bobby_Jones_Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Della Respira";
  src: url(".././fonts/Della_Respira.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DISTILLERY STRONG";
  src: url(".././fonts/Distillery_Strong_Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Futura (Bold)";
  src: url(".././fonts/Futura_Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Georgia (bold)";
  src: url(".././fonts/Georgia_Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "League Gothic (italic)";
  src: url(".././fonts/League_Gothic_italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Robotic";
  src: url(".././fonts/Martian_Robotics.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Old Standard (Bold)";
  src: url(".././fonts/Old_Standard_Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Old_Standard_(Regular)";
  src: url(".././fonts/Old_Standard_Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
